
<div class="photo-container">
    <img src="/assets/card4.jpg" alt="Your Photo" class="background-photo">
    <div class="black-box">
        #Health
        <br>
        <br>
      <div class="heading"> Travel bucket list for a foodie
       </div><br>
       <div class="headtext"> Is food a priority when planning a trip?.</div>
</div>

<div class="txt"> <b>Street food in Sri Lanka</b>
    <p>Now when in Sri Lanka, there are various street food one can try out, from isso wade<br>
         (a snack made using prawns), kottu, milk rice and even the infamous hoppers (the story <br>
         is that it helped the decision-making process of some powerful people).</p>

         <p>Impress your loved ones by re-creating a dish you tried out.  Follow a simple YouTube video<br>
             or get tips from a friendly local. You can purchase all the ingredients you need from Marketplace-Express<br>
              and start your journey as a chef!
        </p>
 </div>
 <br>

 <div class="txt"> <b>A juicy sandwich in Germany</b>
    <p>A Bavarian meal with some juicy meat of your choice – you know you’re already convinced!<br>
         Whether it’s a bratwurst (a special type of sausage made in Germany)or even roasted pork,<br>
          your Bavarian butcher will make a sandwich so succulentwith plenty of mustard slapped <br>
          between Semmel (a crispy fresh bread roll).  Dig your knuckles into this meal while visiting <br>
          Southern part of Germany.</p>
 </div>
<br>
 <div class="txt"> <b>Warm crepe in Paris</b>
    <p>Explore the city of love while also indulging in some of the delectable culinary treasures. From <br>
        baguettes to crepes and even beef bourguignon, this amazing country has so much to satisfy the foodie in you.<br>
         A typical day in the streets of Paris will lead you to vendors making crepes with Nutella or sugar – <br>
         if you’re a sweet tooth then this a must try!</p>
 </div>
 <br>
 <div class="txt"> <b>Pizza in Italy</b>
    <p>Stuff yourself with the cheesiest of them all! All-time favourite food preference of many; originated in Italy,<br>
         and to indulge in the best version of it, you must find your way to Italy. From Margherita Sbagliata,<br>
          Shrimp Sashimi Pizza, you will be spoilt for choice when in Italy.</p>
 </div>


