<div class="photo-container">
    <img src="/assets/card6.1.jpg" alt="Your Photo" class="background-photo">
    <div class="black-box">
        #Health
        <br>
        <br>
      <div class="heading">Healthy Snack Ideas for Weight Loss </div>
    
<br>
       <div class="headtext">Looking for ways to curb hunger between meals?  </div>
</div>

<div class="txt"> <b>Apple Slices with Almond Butter</b>
    <p>Apples are a great source of fiber, which helps keep you full and satisfied. Pairing them with <br>
        almond butter adds healthy fats and protein, making this snack more filling. The combination of <br>
        sweet and creamy textures also satisfies cravings for something indulgent.
 </p>
</div>
 <br>

 <div class="txt"> <b>Greek Yogurt with Berries</b>
    <p>Greek yogurt is rich in protein, which is essential for muscle maintenance and can help you feel full longer.<br>
         Adding berries provides natural sweetness and a boost of antioxidants, which are beneficial for overall health.<br>
          This snack is also low in calories, making it a great choice for weight loss.</p>

        
 </div>
 <br>


 <div class="txt"> <b>Veggie Sticks with Hummus</b>
    <p>Fresh vegetables like carrots, cucumbers, and bell peppers are low in calories but high in vitamins, minerals, <br>
        and fiber. Hummus, made from chickpeas, adds a dose of protein and healthy fats. This combination not only keeps<br>
         you full but also satisfies your need for something crunchy and savory.</p>

        
 </div>
 <br>
 <div class="txt"> <b>Hard-Boiled Eggs</b>
    <p>Hard-boiled eggs are a portable, high-protein snack. Protein helps control hunger by slowing down digestion, <br>
        which keeps you feeling fuller for longer. Eggs are also rich in essential nutrients like vitamin D and B vitamins,<br>
         making them a nutritious choice.</p>

        
 </div>
 <br>
 <div class="txt"> <b>Nuts and Seeds</b>
    <p>A small handful of nuts or seeds provides a good balance of healthy fats, protein, and fiber. These nutrients work<br>
         together to keep hunger at bay. While nuts and seeds are calorie-dense, they are also nutrient-dense, so a small<br>
          portion can be very satisfying without leading to overeating.</p>

        
 </div>
 <br>



