
<div class="photo-container">
    <img src="/assets/card3.jpg" alt="Your Photo" class="background-photo">
    <div class="black-box">
        #Health
        <br>
        <br>
      <div class="heading"> Dining tips for a healthy lifestyle
       </div><br>
       <div class="headtext"> Are you leading a healthy lifestyle?.</div>
    </div>
    <div class="txt"> <b>Cutback on unhealthy foods the right way </b>
        <p>It is always important to replace your unhealthy habits with healthier alternatives. <br>
            For example, if you love to eat your daily dose of fried chicken, swap it with a <br>
            grilled salmon instead.
        </p>
        <p>Healthy fats are essential for your new diet. But, don’t switch for the sake of switching;<br>
             ditching bacon for pancakes or doughnuts will not lower your health risks.
        </p>
         </div>
         <br>
         <div class="txt"> <b>Prep your meals, at home</b>
            <p>What better way to be in charge of what you eat? You’ll be extra careful about the<br>
                 calories and what you add. The chance of adding unhealthy fats, preservatives and <br>
                 sugar is way less if you prepare your meals at home.</p>
         </div>
         <br>
         <div class="txt"> <b>Drink adequate amounts of water</b>
            <p>It is essential to drink water as it helps to flush out the system of toxins and waste. <br>
                 Always remember the 8 glasses (2 litres of water) per day rule.</p></div>
                 <br>

                 <div class="txt"> <b>Sizes matter</b>
                    <p>Say no to that huge plate of rice! When serving a meal at home, use smaller plates,<br>
                         and add more leafy greens, meat or fish as opposed to your rice portion. <br>
                         If you still feel hungry, follow up with some fruit. If you are eating out, make <br>
                         sure to pick a small-sized portion or split a dish with a friend (a trick to save some money as well)</p></div>
</div>
    
