<div class="photo-container">
    <img src="/assets/card5.jpg" alt="Your Photo" class="background-photo">
    <div class="black-box">
        #Health
        <br>
        <br>
      <div class="heading">Quick and Nutritious Breakfast Ideas </div>
    
<br>
       <div class="headtext">Wondering what to have for dinner after a busy day at work? </div>
</div>

<div class="txt"> <b>Overnight Oats</b>
    <p>Mix rolled oats with your choice of milk (dairy or plant-based), add a spoonful of yogurt,<br>
         some chia seeds, and sweeten with honey or maple syrup. Top with fresh fruits, nuts, or seeds. <br>
         Refrigerate overnight and enjoy in the morning.</p>

        
 </div>
 <br>

 <div class="txt"> <b>Avocado Toast</b>
    <p>Spread mashed avocado on whole-grain toast. Sprinkle with salt, pepper, and a squeeze of lemon juice.<br>
         Add toppings like a poached egg, cherry tomatoes, or smoked salmon for extra protein</p>

         
 </div>
 <br>

 <div class="txt"> <b>Greek Yogurt with Berries</b>
    <p>Take a bowl of Greek yogurt and top it with a handful of fresh berries, a drizzle of honey, and some granola<br>
         or nuts. This breakfast is high in protein and antioxidants.</p>

        
 </div>
 <br>

 <div class="txt"> <b>Smoothie Bowl</b>
    <p>Blend your favorite fruits (like bananas, berries, and mango) with some yogurt or a splash of milk. Pour into a <br>
        bowl and top with granola, chia seeds, coconut flakes, and a few more pieces of fruit.</p>

        
 </div>
 <br>


 <div class="txt"> <b>Peanut Butter Banana Sandwich</b>
    <p>Spread peanut butter on whole-grain bread and top with banana slices. Add a sprinkle of cinnamon for extra flavor.<br>
         You can also toast the sandwich for a warm option.</p>

 </div>
 <br>


 <div class="txt"> <b>Omelette Wrap</b>
    <p>Make a quick omelette with your favorite fillings (cheese, spinach, mushrooms, etc.), then wrap it in a whole-grain tortilla.<br>
         You can eat this on the go if you're in a hurry.</p>

        
 </div>
 <br>

