<div class="photo-container">
    <img src="/assets/card7.jpg" alt="Your Photo" class="background-photo">
    <div class="black-box">
        #Health
        <br>
        <br>
      <div class="heading">Hydration Tips for a Healthy Body </div>
    
<br>
       <div class="headtext">Staying hydrated is essential for maintaining overall health. Here are some simple hydration tips </div>
</div>

<div class="txt"> <b>Drink Water First Thing in the Morning</b>
  <p>Start your day by drinking a glass of water as soon as you wake up. This helps rehydrate your<br>
     body after a night's sleep and kickstarts your metabolism. Adding a slice of lemon can provide<br>
      a refreshing flavor and a dose of vitamin C.
</p>
</div>
<br>

<div class="txt"> <b>Carry a Water Bottle</b>
  <p>Keeping a reusable water bottle with you throughout the day makes it easier to remember to drink water<br>
     regularly. Choose a bottle that holds at least 16 to 32 ounces, and aim to refill it multiple times a day.,<br>
      Some bottles even have time markers to help you track your intake.
</p>
</div>
<br>

<div class="txt"> <b>Eat Water-Rich Foods</b>
  <p>Incorporate water-rich foods into your diet, such as cucumbers, watermelon, oranges, and strawberries.<br>
     These foods not only provide hydration but also essential vitamins and minerals. Soups, salads, and smoothies<br>
      are also excellent ways to boost your water intake through food.
</p>
</div>
<br>

<div class="txt"> <b>Limit Dehydrating Beverages</b>
  <p>Beverages like coffee, tea, and alcohol can have diuretic effects, meaning they may lead to dehydration if consumed <br>
    in excess. If you drink these beverages, try to balance them with plenty of water. Opt for herbal teas and limit alcoholic<br>
     drinks to maintain optimal hydration.
</p>
</div>
<br>

<div class="txt"> <b>Set Hydration Reminders</b>
  <p>If you often forget to drink water, set hourly reminders on your phone or use a hydration app. Small, frequent sips can keep <br>
    you hydrated without the need to drink large amounts all at once.


</p>
</div>
<br>

<div class="txt"> <b></b>
  <p>
</p>
</div>
<br>

<div class="txt"> <b></b>
  <p>
</p>
</div>
<br>


