<div class="photo-container">
    <img src="/assets/card2.jpg" alt="Your Photo" class="background-photo">
    <div class="black-box">
        #Health
        <br>
        <br>
      <div class="heading"> Balance your diet!
       </div><br>

        <div class="headtext"> Here are a few things to keep in mind in order to have a balanced diet..</div>
    </div>
    <div class="txt"> <b>What are the basics? </b>
        <br>Remember the food pyramid you were introduced to in the 5th Grade? Yep, <br>
        that’s the basic you need to follow if you are serious about eating healthy<br>
         and having a balanced diet.
         <br>
</div>

<img class="diet" src="/assets/card2.2.jpg">

<div class="txt"> <b>Divide your plate </b>
    <p> Your plate should be filled with vegetables, lean protein and whole grains. Low in calories,<br>
         but enough nutrients to keep you going!</p> </div>
<br>
 <div class="txt"> <b>Calculate the calories </b>
    <p>Eat the right amount of calories for your body type and size. Meet a dietitian and get the <br>
        accurate reading. Your fitness instructor will also be able to help you out on this.</p>
        <br> </div>

        <div class="txt"> <b>Plan for 5-6 meals a day</b>
            <p> Instead of having three large meals a day; break it into 5 – 6 small portions per day.</p>
               <p class="num"> 1.Breakfast<br>
               2.Mid-morning snack<br>
                3.Lunch <br>
              4.Mid-afternoon snack<br>
                5.Dinner</p> </div>
       <div class="txt"> <b>Drink more water</b>
        <p>Plenty of water in your system will help you flush out the toxins and waste. Drink at least <br>
            8 glasses a day.</p></div>
        <div class="txt"> <b>Eat more fish</b>
            <p>Have at least two portions of fish – per week. Fish contain proteins which are vital for your <br>
                balanced diet. The Omega-3 fats will help prevent heart disease.</p></div>
                <br>
       <div class="txt"> <b>Reduce the sugar intake</b> 
        <p>Carbonated drinks, alcohol and sugary foods are to be limited. The more you eat or drink these,<br>
             the chance of gaining weight is high.</p> 


</div>

