<div class="photo-container">
    <img src="/assets/card1.jpg" alt="Your Photo" class="background-photo">
    <div class="black-box">
        #Health<br>
      <div class="heading">  5 easy healthy dinner ideas - under 30-<br>
        minute meal </div><br>

        <div class="headtext"> Heading home after a busy day at work and wondering what to have for dinner?.</div>

    </div>

    <div class="txt"> <b>1. One-Pot Beef with Broccoli</b>
    <p>This one is for the meat lovers who also want to have some healthy vegetables.</p>

    <ul>
        <li>Slice the beef into small pieces and have the broccoli separated rinsed and ready.</li>
        <li>In a bowl whisk soy sauce, vinegar, chicken stock, garlic, sesame oil, ginger, red <br>
             chilli flakes, cornstarch, hot sauce and quarter cup of water.</li>
         <li>Heat the oil and cook the steak until brown (for about 3 - 4 minutes). </li>
        <li>Mix the broccoli and the mixture of soy sauce until the combination is a bit thicker (about 3 - 4 minutes).</li>
         <li>Serve with some rice. </li>
    </ul>
    </div>
    <br>

    <div class="txt1"> <b>2. Tuna and Avacado Wrap</b>
        <p>Combine some canned tuna with avocado.</p>
        <ul>
            <li>Add in salt, pepper, hot sauce, mustard, red onion, celery, and cilantro to the mix.</li>
            <li>Then on each tortilla place some lettuce, carrot (cut in Julienne style) and add in the tuna mix evenly.</li>
            <li>Roll the tortilla into a tight wrap.</li>
        </ul>
        </div>
        <br>

        <div class="txt1"> <b>3. Stuffed Bell Pepper Boats</b>
            <p>A healthier version of nachos.</p>
            <ul> 
                <li>Clean the bell pepper of seeds and cut into 6 pieces.</li>
                <li>Got some leftover chicken from last night (if you don’t have any, cook the chicken to your liking)</li>
                <li>Add to the bell pepper boat.</li>
                <li>Put some cheese on top and bake in a preheated oven (375 degrees) for about 10 minutes.</li>
            </ul>
            </div>
            <br>

            <div class="txt1"> <b>4. Mac 'n' Cheese with Broccoli </b>
                <p>Everyone’s favourite dish. Mac n Cheese with some broccoli.</p>
                <ul>
                    <li>Boil some Absolute Organic fusilli pasta for 7- 10 minutes (you can get your hands on this brand of<br>
                         pasta at any Softlogic GLOMARK outlet). Put the pasta, broccoli to a bowl and add some butter, salt,<br>
                          pepper and some chilli flakes thereafter mix it well. </li>
                      <li>  Add cheese of your choice on top (parmesan, cheddar etc.)  and bake.</li>
                        
                </ul>
                </div>
                <br>

                <div class="txt1"> <b>5. 15-Minute Lo Mein </b>
                    <p>A mouth-watering noodle dish your family won’t say no to!</p>
                    <ul>
                        <li>Mix 3 tbsp soy sauce, 1tsp of sesame oil and sugar</li>
                        <li>Cook the noodles, drain and keep it aside.</li>
                        <li>Put some sesame oil into a large pan (a wok if you have one at home) and once it is heated, add in onions<br>
                             and julienne cut carrots, cabbage, mushrooms, bok-choy. Mix it well until the ingredients are stir fried (about 5 minutes).<br>
                              Add in some rice wine (mirin). Add in the noodles and the soy sauce. Properly toss and mix with the rest of the ingredients.</li>
                    </ul>
                </div>
                <br>
    
  </div>




  
